Weather information will be shown here shortly.<br>
<b>Current status:</b> {{ status }}


<h2 class="sub-header">Section title</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Temp (°C)</th>
      <th>Humidity (%)</th>
      <th>Barometer (hPa)</th>
      <th>Wind direction (degrees)</th>
      <th>Wind Speed (m/s)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="#list of weatherdata">
      <td>{{list._name}} </td>


    </tr>



    </tbody>
  </table>
</div>

